*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.Header{
   background-color: grey;
   padding: 20px 40px;
   border-bottom: 1px solid red;
}
.Header h1{
    margin: 0;
}
.form{
    padding: 30px 40px;
}
.field{
   position: relative;
   margin-bottom: 10px;
   padding-bottom: 20px; 
}
.field label{
    display: inline-block;
    margin-bottom: 5px;
}
.field input:not(.terms){
    display: block;
    border-radius: 4px;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
}
